agno
anthropic>=0.25.0
openai
python-dotenv
baidusearch
duckduckgo-search
googlesearch-python
google.genai
pycountry
yfinance
youtube-transcript-api
langchain-openai
openpyxl
streamlit
python-docx 
PyPDF2 
fpdf
exa_py
sqlalchemy

# Microsoft AutoGen
autogen-agentchat
autogen-ext[openai,azure]